:root {
  --dark: #002608;
  --medium: #ff8935;
  --white: #ffe081;
}

.app,
body,
html,
#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  overflow: hidden;
}

.inputContainer {
  border-radius: 16px;
  width: fit-content;
  height: fit-content;
  padding: 16px;
  background-color: var(--white);
}

.keyHolder {
  justify-content: top;
  align-items: center;
}

.input {
  border-color: black;
  outline: none;
  background-color: transparent;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  font-size: 15px;
  font-weight: 800;
  margin-left: 16px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box;
}

.input::placeholder {
  color: "#555350";
}

.input:focus {
  border-color: var(--medium) !important;
  border-width: 3px;
  border-style: solid;
}

.hide {
  display: none !important;
}

.header {
  height: 68px;
  width: 100%;
  justify-content: end;
  box-sizing: border-box;
}

.button {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, trasform 0.3s ease, color 0.3s ease;
}

.button svg {
  transition: transform 0.3s ease;
}

.button:hover svg {
  transform: scale(1.2);
}

.accountWindow {
  border-radius: 16px;
  background-color: var(--dark);
  height: fit-content;
  width: fit-content;
  padding: 20px;
}

.usersWindow {
  border-radius: 16px;
  background-color: var(--white);
  height: fit-content;
  width: fit-content;
  padding: 20px;
}

.encryptedAddButton {
  background-color: var(--medium);
  color: black;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 5px;
}

.encryptedAddButton:hover {
  background-color: var(--white);
  color: black;
}

.lockButton {
  background-color: var(--white);
  color: black;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 5px;
}

.lockButton:hover,
.keyAddButton:hover,
.shareButton:hover {
  background-color: var(--medium);
  color: black;
}

.keyAddButton {
  background-color: var(--white);
  color: black;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 5px;
}

.shareButton {
  background-color: var(--white);
  color: black;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 0 5px;
}

.logList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

svg {
  display: flex;
}

.loginButton {
  color: var(--white);
}

.manageButton {
  color: #000000;
}

.manageButtonActive {
  color: #ff8935;
}

.loginButton:hover {
  color: var(--medium);
}

.cpButton {
  background-color: var(--white);
  color: black;
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.cpButton:hover {
  background-color: var(--medium);
  color: black;
}

.content {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.menu {
  width: fit-content;
  height: fit-content;
  align-items: top;
  justify-content: center;
  margin-top: 10px;
  margin-left: 00px;
}

.textArea {
  display: flex;
  justify-content: end;
  width: 60vw;
  height: 40vh;
  border-radius: 16px;
  background-color: var(--white);
  font-size: 25px;
  font-weight: 800;
  max-width: 80%;
  max-height: 70%;
  min-width: 300px;
  min-height: 150px;
  font-family: "Century Gothic";
  padding: 10px;
  transition: background-color 0.2s ease;
}

.text {
  font-size: 25px;
  font-weight: 800;
  font-family: "Century Gothic";
}

.buttonTextUp {
  font-family: "Century Gothic";
  font-size: 15px;
  font-weight: 900;
  margin-top: 5px;
}

.buttonTextDown {
  font-family: "Century Gothic";
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.textAreaContainer {
  width: fit-content;
  height: fit-content;
  align-items: end;
  margin-left: 120px;
  max-height: 70%;
  max-width: 80%;
}

.textArea:focus {
  background-color: var(--medium);
}

button {
  background: none;
  border: none;
}

textarea {
  outline: none;
  box-shadow: none;
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.fillSpace {
  width: 100%;
  height: 100%;
}

.contentSize {
  width: fit-content;
  height: fit-content;
}

select {
  border-color: black;
  outline: none;
  background-color: transparent;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 47px;
  font-size: 15px;
  font-weight: 800;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box;
  color: "#555350";
  border-width: 2px;
}

select:focus {
  border-color: var(--medium); /* Highlight the border on focus */
  border-width: 3px; /* Make the border thicker when the element is focused */
}

/* Style for options inside the select, can only be indirectly styled */
select option {
  background-color: var(--white); /* White background for options */
  color: var(--dark); /* Dark text for readability */
}
